@model IEnumerable<ITLab.Models.News>

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="NewsCreate">Create New</a>
    <p>test</p>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadPhoto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewsCount)
                    </td>
                    <td>
                        <a asp-action="NewsEdit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="NewsDetails" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="NewsDelete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
